@model System.Text.Json.Nodes.JsonArray
@{
    ViewData["Title"] = "Products";
}
<section id="products" class="section">

    <div class="container">
        <h2 class="headline">Products</h2>
      </div><!-- container -->
    <ul class="product-list">
        @foreach (var item in Model) {
           <li class="product-item">
                <a asp-action="detail" asp-route-id="@item["id"]">
                    <img class="product-image" src="@item["image"]" alt="@item["name"]">
                    <h2 class="product-name">@item["name"]</h2>
                </a>
            </li>
        }

    </ul>
</section>
