@{
    ViewData["Title"] = "History";
}
<section id="history" class="section">
    <div class="container">
        <div class="text-content">
            <h2 class="headline">Company History</h2>
         </div>
    </div><!-- container text -->
</section><!-- #history -->
