@{
    ViewData["Title"] = "People";
}

<section id="people" class="section">
    <header class="imageheader"></header>
    <div class="container">
        <h2 class="headline">People</h2>
        <div class="people-cards">
            <div class="person-card">
                 <div class="card-info">
                    <h3 class="card-name">Osman Kartal</h3>
                    <h4 class="card-title">CEO</h4>
                </div>
            </div><!-- person-card --> 
        </div><!-- container -->
</section><!-- people -->